@model Product[]
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Areas</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
</head>
<body class="m-1 p-1">
    <table class="table table-bordered table-striped table-sm">
        <tr><th>Name</th><th>Brand</th><th>Country</th><th>Price</th><th>Size</th></tr>
        @foreach (Product p in Model)
        {
            <tr><td>@p.Name</td><td>@p.Brand</td><td>@p.Country</td><td>@p.Price</td><td>@p.Size</td>
        
        </tr>
        }
    </table>
    <a asp-action="Index" asp-controller="Home">Link</a>
</body>
</html>